* {
    
    margin: 0;
    padding: 0;
  }
  
  .services,
  .about,
  .blog,
  .contact,
  .work {
    background-image: url('../assets/images/header.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    position: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .about-header,
  .blog-header,
  .contact-header,
  .services-header,
  .work-header {
    margin-top: 50px;
    font-size: 3rem;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-style: inherit;
    
  }

  .services {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .about {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .blog {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .work {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  